@import "tailwindcss";

:root{
  background-color: black;
}

.tech-top {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.tech-bottom {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.tech-left {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.tech-right {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

/* In globals.css */
@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
.animate-scroll {
  animation: scroll 30s linear infinite;
}